@import './styles/fonts.css';

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  font-family: 'Satoshi', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #f2f0f5;
  background-color: #08080a;
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #08080a;
}

h1,
h2 {
  margin: 0;
  color: #f2f0f5;
}
